{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load static %}

{% block header %}
<style>
.text-number {
    font-size: 2rem;
    margin-bottom: -0.9rem;
}

.text-comment {
    font-size: 0.9rem;
}

.top-venture {
    margin: 1rem
}

.gedf-wrapper {
    margin-top: 0.97rem;
}

@media (min-width: 992px) {
    .gedf-main {
        padding-left: 4rem;
        padding-right: 4rem;
    }
    .gedf-card {
        margin-bottom: 2.77rem;
    }
}

#tabs{
	background: #007b5e;
    color: #eee;
}

#tabs h6.section-title{
    color: #eee;
}

#tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    border-color: transparent transparent #f3f3f3;
    border-bottom: 4px solid !important;
    font-size: 20px;
    font-weight: bold;
}
#tabs .nav-tabs .nav-link {
    background-color: #ffffff;
    border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;
    font-size: 20px;
}

.comement-creator {
    border-left: 8px green solid !important;
}

.description {
   text-align: justify;
}

#nav-home {
    margin: 1rem 12rem;
}

.sticky.is-sticky {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
}

.progress {height: 10px;}

.img {
    object-fit: cover;
}
</style>
{% endblock %}

{% block content %}

    <div class="top-venture">
        <div class="row justify-content-center"><h1>{{ venture.name }}</h1></div>
        {% if not venture.is_over %}
        <div class="row justify-content-center"><p>{{ venture.summary }}</p></div>
        {% endif %}
        <div class="row">
            <div class="col">
                <img src="{% get_media_prefix %}{{ venture.banner }}"
                    alt="Picture of projet"
                    width="640px"
                    height="390px"
                    class="img">
            </div>
            <div class="col">
                {% if venture.is_over %}
                <p class="description">{{ venture.summary }}</p>
                <small>Créé par</small>
                <p class="font-weight-bold">{{ venture.creator.username }}</p>
                <hr>
                <small><b>{{ venture.contributors }} contributeurs</b> ont engagé {{ venture.amount }} € pour soutenir ce projet.</small><br>
                <small><b><i class="far fa-calendar-alt"></i> Dernière mise à jour :</b> {{ venture.finished_at }}</small>
                {%  else %}
                <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: {{ venture.percent }}%" aria-valuenow="{{ venture.percent }}" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p class="text-number text-success">{{ venture.amount }} €</p><p class="text-comment">engagés sur un objectif de {{ venture.goal }} €</p>
                <p class="text-number text-muted">{{ venture.contributors }}</p><p class="text-comment">contributeurs</p>
                <p class="text-number text-muted">{{ venture.remaining_days }}</p><p class="text-comment">jours avant la fin</p>
                <a class="btn btn-success btn-block" href="/ventures/{{ venture.id }}/pledge">Je soutiens ce projet</a>
                {% endif %}
                <p>
                    <button class="btn">300 <i class="fas fa-leaf"></i></button>
                </p>
            </div>
        </div>
    </div>

        <div class="row">
            <div class="col">
                <section id="tabs">
                    <nav class="tabs">
                        <div class="tabs nav nav-tabs nav-fill"data-toggle="sticky-onscroll" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link text-success active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true"> Campagne</a>
                            <a class="nav-item nav-link text-success" id="nav-comment-tab" data-toggle="tab" href="#nav-comment" role="tab" aria-controls="nav-comment" aria-selected="false">Commentaires <span class="badge badge-success">{{ venture.n_comments }}</span></a>
                        </div>
                    </nav>
                </section>   
            </div>                   
        </div>
        <div class="row">
            <div class="col">
                <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                    <div class="tab-pane show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <p class="description">{{ venture.description|linebreaks }}</p>
                    </div>
                    <div class="tab-pane fade" id="nav-comment" role="tabpanel" aria-labelledby="nav-profile-tab">
                        <div class="gedf-main">
                            <div class="card gedf-card">
                                <div class="card-body">
                                    <form method="post" action="">
                                        {{ form | crispy }}
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-secondary btn-sm btn-block">Envoyer</button>
                                    </form>
                                </div>
                            </div>
                            {% for comment in venture.comments %}
                            <div class="card gedf-card comement-creator">
                                <div class="card-header">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="mr-2">
                                            <img class="rounded-circle" width="45" src="{% get_media_prefix %}{{ user.avatar }}" alt="">
                                        </div>
                                        <div class="ml-auto">
                                            <div class="h5 m-0"> @{{ comment.who.username }}</div>
                                            <small class="text-muted h7 mb-2"> <i class="fa fa-clock-o"></i> {{ comment.created_at }}</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">
                                        {{ comment.message }}
                                    </p>
                                </div>
                            </div>        
                            {% endfor %}
                        </div>                        
                    </div>                    
                </div>
            </div>
        </div>
    </section>

<script>
    $(document).ready(function () {
        // Custom function which toggles between sticky class (is-sticky)
        var stickyToggle = function (sticky, stickyWrapper, scrollElement) {
            var stickyHeight = sticky.outerHeight();
            var stickyTop = stickyWrapper.offset().top;
            if (scrollElement.scrollTop() >= stickyTop) {
                stickyWrapper.height(stickyHeight);
                sticky.addClass("is-sticky");
            }
            else {
                sticky.removeClass("is-sticky");
                stickyWrapper.height('auto');
            }
        };

        // Find all data-toggle="sticky-onscroll" elements
        $('[data-toggle="sticky-onscroll"]').each(function () {
            var sticky = $(this);
            var stickyWrapper = $('<div>').addClass('sticky-wrapper'); // insert hidden element to maintain actual top offset on page
            sticky.before(stickyWrapper);
            sticky.addClass('sticky');

            // Scroll & resize events
            $(window).on('scroll.sticky-onscroll resize.sticky-onscroll', function () {
                stickyToggle(sticky, stickyWrapper, $(this));
            });

            // On page load
            stickyToggle(sticky, stickyWrapper, $(window));
        });
    });
</script>


{% endblock %}