{% extends 'base.html' %}
{% load static %}

{% block header %}
<style>
.progress {
    height: 5px;
}

.card {
    height: auto;
}

.card-footer {
    background-color: transparent;
}

.card-img-top {
    max-height: 260px;
    object-fit: cover;
}

.line-separator {
    border-left: 1px solid #78909C;
}
</style>
{% endblock %}

{% block content %}




<div class="row">
<div class="col">
    <h3 class="pb-2 d-flex justify-content-center text-center">
        Dernier projet financé
    </h3>
    {% if venture %}
    <div class="card flex-fill m-2 shadow-sm">
        <a href="/ventures/{{ venture.id }}">
            <img class="card-img-top" src="{% get_media_prefix %}{{ venture.banner }}" alt="Card image cap" >
        </a>
        <div class="card-body">
            <a class="card-title h4 text-success" href="/ventures/{{ venture.id }}">{{ venture.name }}</a>
            <p class="card-text text-muted">{{ venture.summary }}</p>
        </div>
        <div class="card-footer">
            <p>par <b>{{ venture.creator.username }}</b> et {{ venture.contributors }} contributeurs</p>
        </div>
    </div>
    {% for comment in venture.comments %}
    <div class="card gedf-card m-2 shadow-sm comement-creator">

        <div class="card-body">
            <div class="d-flex justify-content-between">
                <div class="mr-2">
                    <img class="rounded-circle" width="45" src="https://picsum.photos/seed/u{{ comment.who.id }}/200/200" alt="">
                </div>
                <div class="ml-2">
                    <div class="h5 m-0"> @{{ comment.who.username }}</div>
                </div>
            </div>
            <p class="card-text">
                {{ comment.message }}
            </p>
        </div>
    </div>        
    {% endfor %}
    {% endif %}
</div>
<div class="col line-separator">
    <h3 class="pb-2 d-flex justify-content-center text-center">
        Bienvenue sur <div class="text-success mx-1 title-sm">M O P G A</div>
    </h3>
    <p class="d-flex text-justify justify-content-center">
        Vous êtes sur la page de présentation de notre site visant à recenser un ensemble de projet écoresponsable et à facilier leur financement par chacun. 
        Nous vous souhaitons une bonne navigation et espérons qu'ensemble nous pourrons préserver notre environnement.
    </p>
</div>
</div>


{% endblock %}